@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --app-bar-height: 50px;
}

.main {
  width: 100%;
  height: var(--app-bar-height);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app_brand_container {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.app_name {
  font-weight: bolder;
  font-size: larger;
}

.logo {
  height: 30px;
}

.sign_in_out {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: auto;
}

.toggle_button_container {
  z-index: 1000;
  margin: 5px;
}
