.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: row;
  height: calc(100% - var(--app-bar-height));
  width: 100%;
}

.chat_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
