.main {
  z-index: 100;
  background-color: #555555;
  height: 100%;
  width: 0px;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
}

.user_info {
  margin-top: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.expanded {
  width: var(--sidebar-width);
}

.convs_container {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .main {
    position: absolute;
    width: 0%;
  }

  .expanded {
    width: 80%;
  }
}
